<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="/template/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

    <link href="/template/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <!-- Custom fonts for this template -->
    {{!--
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet"> --}}
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=vietnamese"
        rel="stylesheet">
    <link href="/template/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/template/css/resume.css" rel="stylesheet">

</head>


<body id="page-top">

    <div id="contentPage">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Clarence Taylor</span>
                <span class="d-none d-lg-block">
                    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/images/admin.jpeg" alt="">
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#licenses">Licenses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/">Back</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid p-0">

            <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
                <div class="my-auto">
                    <h1 class="mb-0">
                        <span class="text-primary" id="provider-name"></span>
                    </h1>
                    <div class="subheading mb-5">
                        <div id="provider-address"></div>
                        <div id="provider-phone"></div>
                    </div>

                    {{!-- <p class="lead mb-5">I am experienced in leveraging agile frameworks to provide a robust
                        synopsis
                        for
                        high level overviews. Iterative approaches to corporate strategy foster collaborative thinking
                        to
                        further the overall value proposition.</p> --}}
                    <div class="social-icons">
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </div>
                </div>
            </section>

            <hr class="m-0">

            <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="products">
                <div class="">
                    <h2 class="mb-5">Products <a data-toggle="modal" data-target="#modalAddProduct" href=""><img src="/images/add.png"
                                alt=""></a></h2>

                    <div class="resume-content mr-auto">
                        <table>
                            <table id="tableProducts" class="table table-hover table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Ingredient</th>
                                        <th scope="col">Benefit</th>
                                        <th scope="col">ProductBy</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Valid</th>
                                        {{!-- <th scope="col">Digital Certificate</th> --}}
                                    </tr>
                                </thead>
                                <tbody id="tbodyProduct">

                                </tbody>
                            </table>
                        </table>
                    </div>
                </div>

            </section>

            <hr class="m-0">

            <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="licenses">
                <div class="">
                    <h2 class="mb-5">Licenses</h2>

                    <div class="resume-content mr-auto">
                        <table>
                            <table id="tableLicenses" class="table table-hover table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Nội dung</th>
                                        <th scope="col">ĐV cấp</th>
                                        <th scope="col">Ngày cấp</th>
                                        <th scope="col">Trạng thái</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyLicenses">

                                </tbody>
                            </table>
                        </table>
                    </div>

                </div>
            </section>

            <hr class="m-0">


            {{!-- Modal add product --}}
            <section>
                <div class="modal fade" id="modalAddProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Add Product</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="nameAddProduct">Name</label>
                                    <input type="email" class="form-control" id="nameAddProduct" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <label for="structureAddProduct">Structure</label>
                                    <input type="text" class="form-control" id="structureAddProduct" placeholder="Structure">
                                </div>
                                <div class="form-group">
                                    <label for="usesAddProduct">Uses</label>
                                    <input type="text" class="form-control" id="usesAddProduct" placeholder="Uses">
                                </div>
                                <div class="form-group">
                                    <label for="productByAddProduct">Product By</label>
                                    <input type="text" class="form-control" id="productByAddProduct" placeholder="USA">
                                </div>
                                <div class="form-group">
                                    <label for="pricesAddProduct">Prices</label>
                                    <input type="text" class="form-control" id="pricesAddProduct" placeholder="10">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" id="addProduct" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

    {{!-- modal register --}}
    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formRegister">
                        <div class="form-group">
                            <label for="nameRegister">Name</label>
                            <input type="text" class="form-control" id="nameRegister" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="addressRegister">Address</label>
                            <input type="text" class="form-control" id="addressRegister" placeholder="1234 Main St">
                        </div>
                        <div class="form-group">
                            <label for="phoneRegister">Phone</label>
                            <input type="number" class="form-control" id="phoneRegister" placeholder="0123456789">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="postRegister()" class="btn btn-primary">Register</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="/template/jquery/jquery.min.js"></script>
    <script src="/template/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/template/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/template/js/resume.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="/javascripts/moment.js"></script>


    <script src="/javascripts/web3.min.js"></script>
    <script src="/javascripts/LBMedicine.js"></script>
    <script src="/javascripts/admin.js"></script>

    <script>

        function checkRegistered() {
            checkIsRegistered().then(res => {
                console.log(res);
                if (res == false) {
                    document.getElementById("contentPage").hidden = true;
                    $('#modalRegister').modal();
                }
                else {
                    $('#modalRegister').modal('hide');
                    document.getElementById("contentPage").hidden = false;
                }
            });
        }

        checkRegistered();
        setInterval(() => {
            checkRegistered()
        }, 1000);



        $("a").on('click', function (event) {
            if (this.hash !== "") {
                event.preventDefault();
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 500, function () {
                    window.location.hash = hash;
                });
            }
        });

        function postRegister() {
            registerProvider($('#nameRegister').val(), $('#addressRegister').val(), $('#phoneRegister').val()).then(data => {
                alert(data.status);
                location.reload();
            })
        }

        $("#addProduct").click(function () {
            registerMedicine($('#nameAddProduct').val(), $('#structureAddProduct').val(), $('#usesAddProduct').val(), $('#productByAddProduct').val(), $('#pricesAddProduct').val()).then(data => {
                alert(data.status);
                getInfoProvider();
            })
        })

    </script>
</body>

</html>